@charset "UTF-8";

body {
	background-color:#EEFFEE;

}

#container{
	background-color:#EEDDCC;
	
}

header {
	
	border: solid 5px #566778;p
	height:50px;
	
}

header h1{
	background-color:#77AAEE;
	color:#0000CC;
	text-align:center;
	font-size:70px;
	font-style:bold;
	height:70px;
	margin:-8px;
}

.webmessage{
	background-color:#0000CC; 
	
	border: solid 5px #566778;
	margin: 5px auto;
	height: 250px;
    text-decoration:none;
	
}

.webmessage p{
	color:#EEFFFE;
	margin: 2px auto;
	text-align:left;
	font-size:31px;
	
}

.webmessage a{
text-decoration:none;
color:yellow;
}
	
.keys_ON{
	background-color:#FFFFFF;
	position: fixed;
	width:50px;
	text-align: center;
	border-radius: 20px ;

	
	
}

/* .keys_ON div:hover {
	background-color: yellow;
}*/



.keys_OFF{
	background-color:#555555;
	
	position: fixed;
	width:50px;
	text-align: center;
}


#A{
	border: solid 5px #566778;
	float:left;
	margin-left: 40px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
}

#A a{
	
	text-decoration:none;
	color: green;
}

#A:hover {
	
	background-color: yellow;
}


#A p{
	margin: -0px;
	
}

#B{
	border: solid 5px #566778;
	float:left;
	margin-left: 210px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
}

#B a{
	
	text-decoration:none;
	color: green;
}

#B:hover {
	
	background-color: yellow;
}


#B p{
	margin: -0px;
	
}


#C{
	border: solid 5px #566778;
	float:left;
	margin-top: 20px;
	margin-left: 380px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
	text-decoration:none;
	background-color:#FFFFFF;
	
}

#C a{
	
	text-decoration:none;
	color: green;
}

#C:hover {
	
	background-color: yellow;
}


#C p{
	margin: -0px;
	
}



#C:hover {
	
	background-color: yellow;
	
	

}

#D{
	border: solid 5px #566778;
	float:left;
	margin-left: 550px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#AAAAAA;
	background-color:#FFFFFF;
}

#D a{
	
	text-decoration:none;
	color: green;
}

#D:hover {
	
	background-color: yellow;
}


#D p{
	margin: -0px;
	
}


#E{
	border: solid 5px #566778;
	float:left;
	margin-left: 720px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
	
}

#E a{
	
	text-decoration:none;
	color: green;
}

#E:hover {
	
	background-color: yellow;
	
}


#E p{
	margin: -0px;
}

#F{
	border: solid 5px #566778;
	float:left;
	margin-left: 890px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
	
}

#F a{
	
	text-decoration:none;
	color: green;
}

#F:hover {
	
	background-color: yellow;
	
}


#F p{
	margin: -0px;
}

#G{
	border: solid 5px #566778;
	float:left;
	margin-left: 1060px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
}

#G a{
	text-decoration:none;
	color:green;
}

#G:hover {
	background-color: yellow;
}

#G p{
	margin: -0px;
}


#H{
	border: solid 5px #566778;
	float:left;
	margin-left: 1230px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
}

#H a{
	text-decoration:none;
	color:green;
}

#H:hover {
	background-color: yellow;
}

#H p{
	margin: -0px;
}


#I{
	border: solid 5px #566778;
	float:left;
	margin-left: 1400px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 20px;	
	background-color:#FFFFFF;
}

#I a{
	text-decoration:none;
	color:green;
}

#I:hover {
	background-color: yellow;
}

#I p{
	margin: -0px;
}



#J{
	border: solid 5px #566778;
	float:left;
	margin-left: 125px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#J a{
	text-decoration:none;
	color:green;
}

#J:hover {
	background-color: yellow;
}

#J p{
	margin: -0px;
}


#K{
	border: solid 5px #566778;
	float:left;
	margin-left: 295px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#K a{
	text-decoration:none;
	color:green;
}

#K:hover {
	background-color: yellow;
}

#K p{
	margin: -0px;
}



#L{
	border: solid 5px #566778;
	float:left;
	margin-left: 465px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#L a{
	
	text-decoration:none;
	color: green;
}

#L:hover {
	
	background-color: yellow;
	
}


#L p{
	margin: -0px;
}


#M{
	border: solid 5px #566778;
	float:left;
	margin-left: 635px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
	
}

#M a{
	
	text-decoration:none;
	color: green;
}

#M:hover {
	
	background-color: yellow;
	
}


#M p{
	margin: -0px;
}

#N{
	border: solid 5px #566778;
	float:left;
	margin-left: 805px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#N a{
	
	text-decoration:none;
	color: green;
}

#N:hover {
	
	background-color: yellow;
	
}


#N p{
	margin: -0px;
}


#O{
	border: solid 5px #566778;
	float:left;
	margin-left: 975px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#O a{
	
	text-decoration:none;
	color: green;
}

#O:hover {
	
	background-color: yellow;
	
}


#O p{
	margin: -0px;
}

#P{
	border: solid 5px #566778;
	float:left;
	margin-left: 1145px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#P a{
	
	text-decoration:none;
	color: green;
}

#P:hover {
	
	background-color: yellow;
	
}


#P p{
	margin: -0px;
}


#Q{
	border: solid 5px #566778;
	float:left;
	margin-left: 1315px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 140px;	
	background-color:#FFFFFF;
}

#Q a{
	
	text-decoration:none;
	color: green;
}

#Q:hover {
	
	background-color: yellow;
	
}


#Q p{
	margin: -0px;
}

#R{
	border: solid 5px #566778;
	float:left;
	margin-left: 40px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
	
}

#R a{
	
	text-decoration:none;
	color: green;
}

#R:hover {
	
	background-color: yellow;
	
}


#R p{
	margin: -0px;
}

#S{
	border: solid 5px #566778;
	float:left;
	margin-left: 210px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#S a{
	
	text-decoration:none;
	color: green;
}

#S:hover {
	
	background-color: yellow;
	
}


#S p{
	margin: -0px;
}



#T{
	border: solid 5px #566778;
	float:left;
	margin-left: 380px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#T a{
	
	text-decoration:none;
	color: green;
}

#T:hover {
	
	background-color: yellow;
	
}


#T p{
	margin: -0px;
}



#U{
	border: solid 5px #566778;
	float:left;
	margin-left: 550px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#U a{
	
	text-decoration:none;
	color: green;
}

#U:hover {
	
	background-color: yellow;
	
}


#U p{
	margin: -0px;
}


#V{
	border: solid 5px #566778;
	float:left;
	margin-left: 720px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#V a{
	
	text-decoration:none;
	color: green;
}

#V:hover {
	
	background-color: yellow;
	
}


#V p{
	margin: -0px;
}


#X{
	border: solid 5px #566778;
	float:left;
	margin-left: 890px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#X a{
	
	text-decoration:none;
	color: green;
}

#X:hover {
	
	background-color: yellow;
	
}


#X p{
	margin: -0px;
}


#Y{
	border: solid 5px #566778;
	float:left;
	margin-left: 1060px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#Y a{
	text-decoration:none;
}

#Y:hover {
	background-color: #EFEFEF;
	cursor: crosshair;
}

#Y p{
	margin: -0px;
	color:grey;
}


#W{
	border: solid 5px #566778;
	float:left;
	margin-left: 1230px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
}

#W a{
	
	text-decoration:none;
	color: green;
}

#W:hover {
	
	background-color: yellow;
	
}


#W p{
	margin: -0px;
}


#Z{
	border: solid 5px #566778;
	float:left;
	margin-left: 1400px;
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 100px ;
	font-size:80px;
    margin-top: 250px;	
	background-color:#FFFFFF;
	
}

#Z a{
	
	text-decoration:none;
	color: green;
}

#Z:hover {
	
	background-color: yellow;
	
}


#Z p{
	margin: -0px;
}



